<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Входные данные - StockTracker</title>
</head>
<body>
<form th:method="put" th:action="@{/settings/account}" th:object="${accountInfoChangeForm}">
    <h2>Account</h2>
    <div>
        <label>Username
            <input th:id="username" type="text" th:name="username" th:value="${authenticationCustomer.getUsername()}">
        </label>
    </div>
    <div>
        <label>Email
            <input th:id="email" type="text" th:name="email" th:value="${authenticationCustomer.getEmail()}">
        </label>
    </div>
    <div>
        <input id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button type="submit">Save</button>
    </div>
</form>
<div>
    <a href="/settings/password">Password</a>
</div>
<div>
    <a href="/settings/personal">About me</a>
</div>
</body>
</html>