<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пароль - StockTracker</title>
</head>
<body>
<form th:method="post" th:action="@{/settings/password}" th:object="${passwordChangeForm}">
    <h2>Password</h2>
    <div>
        <label>Old password
            <input type="password" th:field="*{oldPassword}"/>
        </label>
    </div>
    <div>
        <label>New password
            <input type="password" th:field="*{newPassword}">
        </label>
    </div>
    <div>
        <label>Confirm new password
            <input type="password" th:field="*{confirmPassword}">
        </label>
    </div>
    <div>
        <input id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button type="submit">Save</button>
    </div>
</form>
<div>
    <a href="/settings/account">Account</a>
</div>
<div>
    <a href="/settings/personal">About me</a>
</div>
</body>
</html>