<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Настройки - StockTracker</title>
</head>
<body>
<form th:method="post" th:action="@{/settings/personal}" th:object="${personalInfoChangeForm}">
    <h2>Personal</h2>
    <div>
        <label>Name
            <input th:id="name" type="text" th:name="name" th:value="${authenticationCustomer.getName()}"/>
        </label>
    </div>
    <div>
        <label>Surname
            <input th:id="surname" type="text" th:name="surname" th:value="${authenticationCustomer.getSurname()}"/>
        </label>
    </div>
    <div>
        <label>Phone
            <input th:id="phone" type="text" th:name="phone" th:value="${authenticationCustomer.getPhone()}"/>
        </label>
    </div>
    <div>
        <input id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button type="submit">Save</button>
    </div>
</form>
<div>
    <a href="/settings/password">Password</a>
</div>
<div>
    <a href="/settings/account">Account</a>
</div>
</body>
</html>