<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение данных о компании - StockTracker</title>
</head>
    <body>
    <h1>Изменение</h1>

    <form th:action="@{/company/edit/{uuid}(uuid=${company.getUuid()})}" th:method="post" th:object="${companyForm}">
        <p><strong>Название компании:</strong> <input type="text" name="companyName" th:value="${company.companyName}"></p>
        <p><strong>Юридическое лицо:</strong> <input type="text" name="legalEntity" th:value="${company.legalEntity}"></p>
        <p><strong>ИНН:</strong> <input type="text" name="inn" th:value="${company.inn}"></p>
        <p><strong>Расчетный счет:</strong> <input type="text" name="bankAccount" th:value="${company.bankAccount}"></p>
        <p><strong>БИК банка:</strong> <input type="text" name="bankBik" th:value="${company.bankBik}"></p>
        <p><strong>Юридический адрес:</strong> <input type="text" name="legalAddress" th:value="${company.legalAddress}"></p>
        <p><strong>Фактический адрес:</strong> <input type="text" name="actualAddress" th:value="${company.actualAddress}"></p>
        <p><strong>Email:</strong> <input type="email" name="email" th:value="${company.email}"></p>
        <p><strong>Номер телефона:</strong> <input type="text" name="phoneNumber" th:value="${company.phoneNumber}"></p>
        <p><strong>ОГРН:</strong> <input type="text" name="ogrn" th:value="${company.ogrn}"></p>
        <p><strong>ОКПО:</strong> <input type="text" name="okpo" th:value="${company.okpo}"></p>
        <p><strong>Кпп:</strong> <input type="text" name="kpp" th:value="${company.kpp}"></p>
        <p><strong>Корреспондентский счёт:</strong> <input type="text" name="correspondentAccount" th:value="${company.correspondentAccount}"></p>
        <p><strong>Имя директора:</strong> <input type="text" name="directorName" th:value="${company.directorName}"></p>
        <p><strong>Фамилия директора:</strong> <input type="text" name="directorSurname" th:value="${company.directorSurname}"></p>
        <p><strong>Отчество директора:</strong> <input type="text" name="directorPatronymic" th:value="${company.directorPatronymic}"></p>
        <p><strong>Название банка:</strong> <input type="text" name="bankName" th:value="${company.bankName}"></p>
        <p><strong>Инн банка:</strong> <input type="text" name="bankInn" th:value="${company.bankInn}"></p>
        <p><strong>Кпп банка:</strong> <input type="text" name="bankKpp" th:value="${company.bankKpp}"></p>
        <div>
            <input id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <button type="submit">Сохранить изменения</button>
        </div>
    </form>
    <form th:action="@{/company/{uuid}(uuid=${company.getUuid()})}" th:method="get">
        <button type="reset">Отмена</button>
    </form>
    </body>
</html>
