<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Компании - StockTracker</title>
</head>
<body>
<div>
    <div class="container">
        <h1>Ваши компании</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Наименование компании</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="companyPageInstance, iter : ${companyPage.content}" th:attr="onclick=|window.location.href='${companyPageInstance.getUuid()}'|" >
                <th scope="row" th:text="${iter.index + 1}"></th>
                <td th:text="${companyPageInstance.getCompanyName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>