<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о компании</title>
</head>
<body>
    <h1>Информация о компании</h1>
    <p><strong>Название компании:</strong> <span th:text="${company.companyName}">Нет данных</span></p>
    <p><strong>Юридическое лицо:</strong> <span th:text="${company.legalEntity}">Нет данных</span></p>
    <p><strong>ИНН:</strong> <span th:text="${company.inn}">Нет данных</span></p>
    <p><strong>Расчетный счет:</strong> <span th:text="${company.bankAccount}">Нет данных</span></p>
    <p><strong>БИК банка:</strong> <span th:text="${company.bankBik}">Нет данных</span></p>
    <p><strong>Юридический адрес:</strong> <span th:text="${company.legalAddress}">Нет данных</span></p>
    <p><strong>Фактический адрес:</strong> <span th:text="${company.actualAddress}">Нет данных</span></p>
    <p><strong>Email:</strong> <span th:text="${company.email}">Нет данных</span></p>
    <p><strong>Номер телефона:</strong> <span th:text="${company.phoneNumber}">Нет данных</span></p>
    <p><strong>ФИО директора:</strong> <span th:text="${company.directorFullName}">Нет данных</span></p>
    <p><strong>ОГРН:</strong> <span th:text="${company.ogrn}">Нет данных</span></p>
    <p><strong>ОКПО:</strong> <span th:text="${company.okpo}">Нет данных</span></p>

    <form th:action="@{/editCompany/{id}(id=${company.companyId})}" th:method="get">
        <button type="submit">Изменить</button>
    </form>

    <form th:action="@{/deleteCompany/{id}(id=${company.companyId})}" th:method="post">
        <button type="submit">Удалить</button>
    </form>
</body>
</html>
