<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание компании - StockTracker</title>
</head>
<body>
<form method="post" action="/companies/new" th:object="${companyCreateForm}">
    <h1>Создание</h1>
    <div>
        <label>Наименование
            <input type="text" th:field="*{companyName}" required>
        </label>
    </div>
    <div>
        <label>Юридическое лицо (ИП, ООО и тд)
            <input type="text" th:field="*{legalEntity}" required>
        </label>
    </div>
    <div>
        <label>ИНН компании
            <input type="text" th:field="*{inn}" required>
        </label>
    </div>
    <div>
        <label>Расчетный счет
            <input type="text" th:field="*{bankAccount}" required>
        </label>
    </div>
    <div>
        <label>БИК банка
            <input type="text" th:field="*{bankBik}" required>
        </label>
    </div>
    <div>
        <label>Юридические адрес
            <input type="text" th:field="*{legalAddress}">
        </label>
    </div>
    <div>
        <label>Фактический адрес
            <input type="text" th:field="*{actualAddress}">
        </label>
    </div>
    <div>
        <label>Почта компании
            <input type="email" th:field="*{email}">
        </label>
    </div>
    <div>
        <label>Телефон компании
            <input type="tel" th:field="*{phoneNumber}">
        </label>
    </div>
    <div>
        <label>ОГРН компании
            <input type="text" th:field="*{ogrn}">
        </label>
    </div>
    <div>
        <label>ОКПО компании
            <input type="text" th:field="*{okpo}">
        </label>
    </div>
    <div>
        <label>ОГРНИП
            <input type="text" th:field="*{ogrnip}">
        </label>
    </div>
    <div>
        <label>Наименование компании
            <input type="text" th:field="*{bankName}" required>
        </label>
    </div>
    <div>
        <label>КПП Банка
            <input type="text" th:field="*{bankKpp}">
        </label>
    </div>
    <div>
        <label>ИНН банка
            <input type="text" th:field="*{bankInn}">
        </label>
    </div>
    <div>
        <label>Имя директора
            <input type="text" th:field="*{directorName}">
        </label>
    </div>
    <div>
        <label>Фамилия директора
            <input type="text" th:field="*{directorSurname}">
        </label>
    </div>
    <div>
        <label>Отчество директора
            <input type="text" th:field="*{directorPatronymic}">
        </label>
    </div>
    <div>
        <label>Корреспондентский счет
            <input type="text" th:field="*{correspondentAccount}">
        </label>
    </div>
    <div>
        <label>КПП компании
            <input type="text" th:field="*{kpp}">
        </label>
    </div>
    <div>
        <input id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button type="submit">Создать</button>
    </div>
</form>
</body>
</html>